.pageHeader {
  background-image: url("../img/bg.jpg");
  height: 95%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
  margin-top: -20px; }
  .pageHeader .headerText {
    width: 100%;
    height: 50%;
    text-align: center; }
    .pageHeader .headerText h1 {
      padding-top: 14%;
      font-family: "Lato", sans-serif;
      font-size: 90px;
      color: white; }
    .pageHeader .headerText h2 {
      font-size: 26px;
      font-weight: 100;
      color: white; }


.smallComment {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: #d9d8d8; }

.largeFont {
  font-size: 200px; }

.articles img {
  border: 2px solid black; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.spacing-top-large {
  padding-top: 60px; }

.spacing-bottom-large {
  padding-bottom: 60px; }

.spacing-top {
  padding-top: 30px; }

.spacing-bottom {
  padding-bottom: 30px; }

.contentList {
  padding-bottom: 30px; }

.listHeader {
  color: #428bca;
  font-size: 28px;
  line-height: 140%;
  font-family: "Lato", sans-serif; }

.navBar {
  text-align: center;
  padding: 15px; }
  .navBar a h2 {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    display: inline;
    padding: 10px;
    color: #b3b3b3; }

.pageIntro {
  padding: 160px 0; }
  .pageIntro h1 {
    font-size: 90px;
    font-family: "Lato", sans-serif;
    color: #009900; }
  .pageIntro text {
    font-size: 22px;
    font-family: "Lato", sans-serif;
    color: #d9d8d8; }

.img-responsive {
  margin: 0 auto; }

.imgDiv {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px; }

.about {
  padding-top: 30px; }
  .about p {
    font-size: 26px; }
  .about h1 {
    font-size: 46px; }

.inlineLink {
  font-size: 28px;
  font-family: "Lato", sans-serif; }

.content {
  width: 100%;
  padding-top: 36px; }
  .content p {
    font-size: 28px;
    line-height: 140%;
    font-family: "Lato", sans-serif;
    color: #666666; }
  .content h2 {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    color: #428bca;
    padding-top: 60px; }

.blue {
  color: #009900; }
