body {
    width: auto;
    height: 100%;
    background-color: black;
    padding: auto;
    margin: 0;
}

.navbar {
    width: unset;
    background-color: #0099E5;
    color: white;  
    border-bottom: transparent;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 100;
    margin: 0 0 1em 0;
    padding: 10px 0px 10px 10px;
}

.navbar a {
    border-bottom: transparent;
    text-decoration: none;
    color: white;  
    display: inline;
    padding: 10px 10px 8px 10px;
    top: 8px;
    box-shadow: 1px 1px 2px #0099E5;
}


.navbar a:hover {
    background-color: #0071E5;
    color: white;
    border-bottom: 2px solid white;
    transition: 0.5s;
}

.headername {
    color: white;  
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 100;
    display: inline-flexbox;
    text-align: center;
    top: 0%;
    bottom: 8px;
}

.maintext {
    color: white;  
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 100;
    display: inline-flexbox;
    text-align: center;
    background-color: #0071E5;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.maintext h2 {
    color: white;  
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    display: inline-flexbox;
    text-align: center;
    background-color: #0071E5;
    margin: 0 0 1em 0;
    padding-top: 15px;
    padding-bottom: 0px;
}

.secondarytext {
    color: white;  
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 100;
    display: inline-flexbox;
    text-align: center;
    background-color: #797979;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.secondarytext h2 {
    color: white;  
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    display: inline-flexbox;
    text-align: center;
    background-color: #797979;
    margin: 0 0 1em 0;
    padding-top: 15px;
    padding-bottom: 0;
    padding-bottom: 0px;
}

hr.small {
    width: 25%;
    top: 2px;
    padding-top: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto';
    font-weight: 100;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .botbar {
    width: unset;
    background-color: #0071E5;
    color: white;  
    border-bottom: transparent;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 100;
    margin: 0 0 1em 0;
    padding: 10px 0px 10px 10px;
}

.botbar a {
    border-bottom: transparent;
    text-decoration: none;
    text-align: center;
    color: white;  
    display: inline;
    padding: 10px 10px 10px 10px;
    top: 8px;
    box-shadow: 1px 1px 2px #0071E5;
}

.botbar li {
    display: inline;
}

.botbar a:hover {
    background-color: #0099E5;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.list-unstyled {
    background-color: #0071E5;
    color: white;
    list-style: none
}

.hyperlinks a {
  text-decoration: underline;
  color: #ffffff;
}

/* hover effect for images beginning */
.images img {
  margin-top: 2%;
  max-height: 200px;
  border: 2px solid #428bca;
}

.images img:hover {
    transition: 0.5ms;
    margin-top: 2%;
    max-height: 200px;
    border: 2px solid #0a599e;
}

.images a:hover {
  transition: 0.5ms;
  opacity: 0.85;
}

.imageshome img {
  margin-top: -1%;
  max-height: 200px;
  border: 2px solid #428bca;
}

.imageshome img:hover {
  transition: 0.5ms;
  opacity: 0.85;
  margin-top: -1%;
  max-height: 200px;
  border: 2px solid #0a599e;
}
/* hover effect for images beginning */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}